.altimeter {
  composes: mapboxgl-ctrl from global;

  display: flex;
  gap: var(--size-2);
  align-items: center;
  font-weight: var(--font-weight-7);
  font-style: italic;
  color: white;
  cursor: pointer;
  transition: transform 0.2s;
}
:global(:is(.mapboxgl-ctrl-top-right, .mapboxgl-ctrl-bottom-right)) .altimeter {
  flex-direction: row-reverse;
}
.altimeter:not([data-available="true"]) {
  color: var(--gray-6);
}
.altimeter::after {
  content: attr(data-altitude);
  display: block;
  font-size: var(--font-size-4);
}
.altimeter:not([data-available="true"])::after {
  content: "⋯";
}
.altimeter:hover {
  transform: scale(1.1);
}
.altimeter [data-icon] {
  width: var(--size-6);
  height: var(--size-6);
}
