.speedometer {
  composes: mapboxgl-ctrl from global;

  display: flex;
  gap: var(--size-2);
  align-items: center;
  font-weight: var(--font-weight-7);
  font-style: italic;
  color: white;
  cursor: pointer;
  transition: transform 0.2s;
}
:global(:is(.mapboxgl-ctrl-top-right, .mapboxgl-ctrl-bottom-right))
  .speedometer {
  flex-direction: row-reverse;
}
.speedometer:not([data-available="true"]) {
  color: grey;
}
.speedometer::after {
  content: attr(data-speed);
  display: block;
  font-size: var(--size-6);
}
.speedometer:not([data-available="true"])::after {
  content: "⋯";
}
.speedometer:hover {
  transform: scale(1.1);
}
.speedometer [data-icon] {
  display: none;
  width: var(--size-6);
  height: var(--size-6);
}
.speedometer:not([data-available="true"]) [data-icon="gauge"] {
  display: block;
}
.speedometer[data-mode="stopped"] [data-icon="octagon-x"] {
  display: block;
}
.speedometer[data-mode="walking"] [data-icon="footprints"] {
  display: block;
}
.speedometer[data-mode="biking"] [data-icon="bike"] {
  display: block;
}
.speedometer[data-mode="driving"] [data-icon="car"] {
  display: block;
}
.speedometer[data-mode="flying"] [data-icon="plane"] {
  display: block;
}
.speedometer[data-mode="warp"] [data-icon="rocket"] {
  display: block;
}
