.map {
  height: 100dvh;
}
.map canvas {
  outline: none !important;
}

/* paddings for controls that are safe area aware */
.map :global(.mapboxgl-ctrl-top-left) {
  margin-left: var(--size-control-inset-horizontal);
  margin-top: var(--size-control-inset-top);
}
.map :global(.mapboxgl-ctrl-top-right) {
  margin-right: var(--size-control-inset-horizontal);
  margin-top: var(--size-control-inset-top);
}
.map :global(.mapboxgl-ctrl-bottom-right) {
  margin-right: var(--size-control-inset-horizontal);
  margin-bottom: var(--size-control-inset-bottom);
}
.map :global(.mapboxgl-ctrl-bottom-left) {
  margin-left: var(--size-control-inset-horizontal);
  margin-bottom: var(--size-control-inset-bottom);
}
.map
  :global(
    :is(.mapboxgl-ctrl-top-left, .mapboxgl-ctrl-bottom-left) .mapboxgl-ctrl
  ) {
  margin-left: 0;
}
.map
  :global(
    :is(.mapboxgl-ctrl-top-right, .mapboxgl-ctrl-bottom-right) .mapboxgl-ctrl
  ) {
  margin-right: 0;
}
.map
  :global(
    :is(.mapboxgl-ctrl-top-left, .mapboxgl-ctrl-top-right)
      .mapboxgl-ctrl:first-child
  ) {
  margin-top: 0;
}
.map
  :global(
    :is(.mapboxgl-ctrl-bottom-left, .mapboxgl-ctrl-bottom-right)
      .mapboxgl-ctrl:last-child
  ) {
  margin-bottom: 0;
}

.map :global(.mapboxgl-ctrl.mapboxgl-ctrl-attrib) {
  margin-top: inherit;
}
